/*--- General */
body {
  font-size: 14px;
  color: #333333;
}

a {
  color: #372728;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}

a:hover {
  color: #8a5d60;  
  text-decoration: none;
  cursor: pointer;
}

/*-- Override */
.list-inline {
  margin-bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 12px;
}

/*-- Color */
.bg-white {
  background-color: #ffffff;
}

/*-- Text */
.text-title {
  font-size: 18px;
  margin-bottom: 2px;
}

.text-big-wrapper {
  background-color: #EAEAEA;
  padding: 24px;
  margin: 24px 0;
}

.text-big {
  font-size: 140%;
}

.text-big .glyphicon {
  font-size: 200%;
  color: #999999;
}

/*--- Layout */
/*-- Header */
#page-header {
  box-shadow: #EEEEEE 0px 1px 2px;
}

#menu-contact {
  background-color: #EEEEEE;
  font-size: 12px;
}

#menu-contact .list-inline {
  margin: 6px 0;
}

/*-- Menu */
#menu-main {
  height: 60px;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
}

#menu-main .navbar-brand {
  height: auto;
  padding: 0;
  line-height: auto;
}

#menu-main .com-logo,
#menu-main .navbar-brand {
  padding: 6px 0;
}

#menu-main .com-logo img,
#menu-main .navbar-brand img {
  max-height: 48px;
}

#menu-main .com-menu {
  font-size: 18px;
}

#menu-main .com-menu li {
  float: right;
  padding: 0;
}

#menu-main .com-menu a {
  display: inline-block;
  line-height: 24px;
  padding: 18px;
}

#menu-main .com-menu a:hover,
#menu-main .com-menu .active a {
  background-color: #372728;
  color: #FFFFFF;
}

/*---- Main */
#main section {
  margin-bottom: 24px;
}

#main section h3:first-child {
    
}

#main section h3.border:first-child {
  padding-bottom: 6px;
  border-bottom: 1px solid #EAEAEA;
}

/*-- Slider */
#slider-home {
  
}

.sslick .slider-slick-item {
  outline: none;
  display: none;
}

.sslick > .slider-slick-item:first-child,
.slick-slider .slider-slick-item {
  display: block;
}

.sslick-items {
  margin-left: -12px;
  margin-right: -12px; 
}

.sslick-items .slider-slick-item {
  margin: 12px;  
}

.slick-track > .slick-active:first-child {
  padding-left: 0;
}

.slick-track > .slick-active:last-child {
  padding-right: 0;
}

/*-- Highlights */
#com-highlight .com-bg-item {
  height: 300px;
}

.com-bg-item {
  display: block;
  position: relative;
  min-height: 120px;
}

.com-bg-item h3,
.com-bg-item h4 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.com-bg-item .com-bg-item-inner {
  position: absolute;  
  transition: color .5s, padding .4s;
}

.com-bg-item:hover .com-bg-item-inner {
  padding: 0 12px;
}

.com-bg-item .com-bg-item-inner.top-left {
  top: 24px;
  left: 24px;
}

.com-bg-item .com-bg-item-inner.bottom-left,
.com-bg-item .com-bg-item-inner.bottom-right {
  bottom: 24px;
}

.com-bg-item .com-bg-item-inner.bottom-left {
  left: 24px; 
}

.com-bg-item .com-bg-item-inner.bottom-right {
  text-align: right;
  right: 24px; 
}

.com-bg-item .text-inverse {
  color: #FFFFFF;
}

/*-- Product display */
.com-product {    
  position: relative;
  text-align: center;  
}

.com-product > a {
  display: block;
}

.com-product .com-product-image {
  position: relative;
  overflow: hidden;
}

.com-product .com-product-image img {
  transition: transform .5s ease-in-out;
}

.com-product:hover .com-product-image img {
  transform: scale(1.1);
}

.com-product .com-product-image .icon {
  max-height: 32px;
}

.com-product .com-product-image .icon-2x {
  max-height: 64px;
}

.com-product .com-product-image .top-right,
.com-product .com-product-image .bottom-right {
  position: absolute;
  right: 12px;
}

.com-product .com-product-image .top-right {
  top: 12px;
}

.com-product .com-product-image .bottom-right {
  bottom: 12px;
}

.com-product .img-responsive {
  border: 1px solid #EAEAEA;
}

.com-product .text-title {
  color: #333333;
}

.com-product small {
  color: #999999;
  text-decoration: line-through;
}

.com-product .com-product-actions {
  position: absolute;
  visibility: hidden;
  top: 50%;
  width: 100%; 
  padding: 12px 6px;
  background-color: rgba(255, 255, 255, .9);
  opacity: 0;
  transition: opacity 1s, top .5s;
}

.com-product:hover .com-product-image {
}

.com-product:hover .com-product-actions {
  visibility: visible;
  opacity: 1;
  top: 40%;
}

.com-product .com-product-actions .glyphicon {
  font-size: 24px;
  padding: 12px;
  margin-bottom: 4px;
  border: 1px solid #372728;
  color: #372728;
  background-color: #FFFFFF;
}

.com-product .com-product-actions .glyphicon:hover {
  color: #FFFFFF;
  background-color: #372728;
}

/*-- Article */
.com-article {
}

.com-article small {
  color: #C5C5C5;
}

/*-- Services */
